In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")
# Call the function.
say_hello()

Hello!

In [2]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)
#Call the function.
say_something("Hello, World!")

Hello, World!

In [4]:
Jane_says = "Hi, I'm Jane and learning Python"
say_something(Jane_says)

Hi, I'm Jane and learning Python

In [5]:
import pandas as pd

In [6]:
my_grades = ["B","C","B","D"]
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [7]:
# Change the grades by one letter grade.
my_grades.map({"B": "A", "C": "B", "D": "C"})

0    A
1    B
2    A
3    C
dtype: object

In [8]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [9]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [10]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [11]:
class Cat:
    def __init__(self, name):
        self.name = name
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [12]:
second_cat = Cat("Garfield")
print(second_cat.name)

Garfield

In [13]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    def bark(self):
        return self.sound + ' ' + self.sound
    
first_dog = Dog("Fido","brown","woof!")
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [14]:
second_dog = Dog("Lady","blonde","arf!")
print(second_dog.name)
print(second_dog.color)
second_dog.bark()

Lady
blonde

'arf! arf!'